#fname {
    font-size: 45px;
    }
    #f1{
        font-size: 55px;
    }
    
    input[type=text], select {
      width: 60%;
      padding: 12px 2px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 60px;
      box-sizing: border-box;
    }
    
    #u {
      width: 20%;
      background-color: #a9a9a9	;
      color: white;
      padding: 10px 20px;
      margin: 43px 0;
      border-style:solid ;
      border-color:grey ;
      border-radius: 100px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }

    u:hover
    {
        background-color: red;
    }